<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="#">Home</a>
        <!--
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Products</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">TED API</a>
            <a class="navbar-item" href="#">eProcurement Ontology</a>
            <a class="navbar-item" href="#">European Single Procurement Document</a>
          </div>
        </div>
        -->
        <!--
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Services</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Service A</a>
            <a class="navbar-item" href="#">Service B</a>
            <a class="navbar-item" href="#">Service C</a>
          </div>
        </div>
        -->
       
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Resources</a>
          <div class="navbar-dropdown">
            <!-- <div class="navbar-item"><b>Publications Ofiice</b></div> -->
            <a class="navbar-item" href="https://github.com/OP-TED/eForms-SDK">eForms SDK on Github</a>
            <a class="navbar-item" href="https://simap.ted.europa.eu/web/simap/eforms">eForms on SIMAP</a>
            <a class="navbar-item" href="https://github.com/eprocurementontology/eprocurementontology">eProcurement Ontology</a>
            <a class="navbar-item" href="https://github.com/espd/espd-edm">European Single Procurement Document</a>
            <a class="navbar-item" href="https://op.europa.eu/en/web/eu-vocabularies/e-procurement/tables">eProcurement in EU Vocabularies</a>
            <hr class="navbar-divider">
            <!-- <div class="navbar-item"><b>DG GROW</b></div>-->
            <a class="navbar-item" href="https://ec.europa.eu/growth/single-market/public-procurement/digital/eforms_en">About eForms</a>
            <!-- <a class="navbar-item" href="https://github.com/eForms/eForms">eForms 2nd consultation</a> -->
          </div>
        </div>

        <a class="navbar-item" href="https://simap.ted.europa.eu/contact">Helpdesk</a>

        <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="https://github.com/OP-TED/eForms-SDK/releases">Download</a>
          </span>
        </div>
        
      </div>
    </div>
  </nav>
</header>
