name: Build and analyze eForms SDK

on:
  push:
  pull_request:

  # Allows to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  analyze:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Build and analyze SDK
        run: mvn clean install -Panalyze --no-transfer-progress -s .github/workflows/settings.xml
